*
{
  margin:0;
  padding: 0;
}

.main-nav{
  float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li
{
  display: inline-block;
}

.main-nav li a
{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

main-nav li.active a
{
  border: 1px solid white;
}

.main-nav li a:hover
{
  border: 1px solid white;
}

.logo img {
  width: 300px;
  height: auto;
  top: 45%;
  position: absolute;
  left: 40%;
  opacity: 0.1;
}

body
{
  font-family: monospace;
  background-color: black;
}

.row
{
  max-width: 1200px;
  margin: auto;
}

.relative{
  position: relative;
  background-color: #fff;
}

#griglia{
  position: absolute;
  top:80px;
  width: 100%;
  left: 0%;
  height: 700px;
}


#container1{
  position: absolute;
  width: 100%;
  height: 9%;
  background-color: #3b3b3b;
  color: #cfcfcf;
  text-align: center;
  line-height: 2;
}



#container2{
  position: absolute;
  width: 80%;
  left: 10%;
  top: 30%;
  bottom: 4%;
  text-align: center;
  line-height: 2;
}



h1{
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Noticia Text', serif;
}

h2{
font-family: "HelveticaNeueW02-75Bold", Helvetica, Arial, sans-serif;
font-size: 15px;
color: grey;
  text-align: center;
}

h3{
  color: #a1a1a1;
  font-family: 'Noticia Text', serif;
  font-size: 15px;
}

p{
  color: #cfcfcf;
font-family: 'Noticia Text', serif;
  color: #a1a1a1;
}
